$fontsize:15px;
$bodybackgroundcolor:white;
//-----Primary COLORS----------//
$VeryDark:hsl(300, 43%, 22%);
$SoftPink:hsl(333, 80%, 67%);
//----------scond colors//
$DarkGrayish : hsl(303, 10%, 53%);
$LightGrayish : hsl(300, 24%, 96%);

